.link {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    &:hover {
        background-color: var(--orange);
        color: var(--white-900);
    }
}

.actualRoute {
    background-color: var(--orange);
    color: var(--white-900);
}
