.sidebarContainer {
    display: flex;
    flex-direction: column;
    width: 210px;
    padding-top: 30px;
    background-color: var(--white-900);
    border-right: 1px solid rgba(#000000, 0.1);
}

.logo {
    width: 100%;
    padding: 0px 25px;
    margin-bottom: 30px;
}

.titleMenu {
    color: #a3a3a3;
    font-size: 9px;
    letter-spacing: 0.12em;
    font-weight: 800;
    padding: 0 25px;
}

.navigationContainer {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    gap: 8px;
    flex: 1;
}

.divider {
    width: auto;
    height: 1px;
    background-color: rgba(#000000, 0.1);
    margin: 8px 25px;
}

.userContainer {
    display: flex;
    flex-direction: column;
    padding: 30px 25px;
    gap: 5px;

    button {
        display: flex;
        align-items: center;
        border: 0;
        background-color: transparent;
        padding: 10px;
        gap: 10px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 600;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

        &:hover {
            background-color: var(--orange);
            color: var(--white-900);
        }
    }
}

.infosUserContainer {
    display: flex;
    gap: 10px;
    padding: 1px;
}

.imageUser {
    width: 40px;
    height: auto;
    border-radius: 15px;
    border: 2px solid var(--white-900);
    box-shadow: 0px 0px 0px 2px var(--orange);
}

.infosUser {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.nameUser {
    font-size: 15px;
    font-weight: 600;
}

.positionUser {
    font-size: 12px;
    opacity: 0.5;
}
