.greetingContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    gap: 13px;
}

.greetingText {
    font-size: 16px;
}

.eventsContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--white-900);
    border: 1px solid rgba(#09428f, 0.17);
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
}

.searchAndAddEventContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 12px 0;
}

.searchContainer {
    position: relative;
    background-color: #09428f;
    width: 100%;
    max-width: 203px;
}

.buttonAddEvent {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
    color: var(--white-900);
    background-color: var(--orange);
    border: 0;
    border-radius: 33px;
    font-size: 13px;
    font-weight: 600;
    transition: transform 0.2s ease-in-out;
    white-space: nowrap;

    &:hover {
        transform: scale(1.02);
    }
}

.navigationEvents {
    padding: 29px 0px 10px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
}

.buttonPrevious {
    font-size: 12px;
    padding: 10px 16px;
    background-color: var(--white-500);
    border: 0;
    border-radius: 200px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    &:not(:disabled):hover {
        background-color: var(--orange);
        color: var(--white-900);
    }

    &:disabled {
        cursor: not-allowed;
    }
}

.pageButton {
    height: 35px;
    width: 35px;
    font-size: 12px;
    padding: 10px;
    border: 0;
    border-radius: 50%;
    background-color: var(--white-500);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    &:hover {
        background-color: var(--orange);
        color: var(--white-900);
    }
}

.activePageButton {
    background-color: var(--orange);
    color: var(--white-900);
}

.buttonNext {
    font-size: 12px;
    padding: 10px 16px;
    background-color: var(--orange);
    color: var(--white-900);
    border: 0;
    border-radius: 200px;
    transition: transform 0.2s ease-in-out;

    &:not(:disabled):hover {
        transform: scale(1.02);
    }

    &:disabled {
        cursor: not-allowed;
    }
}
