* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

:root {
    --white-900: #ffffff;
    --white-800: #f8f8f8;
    --white-600: #f6f6f6;
    --white-500: #f5f5f5;
    --orange: #cc6237;
    --gray: #657593;
    --blue: #2a4d8e;
    --green: #4def00;
    --red: #ff0000;
}

body {
    background: #f9fbff;
}

button {
    cursor: pointer;
}

button,
a,
input[type='button'],
input[type='submit'] {
    color: inherit; /* Herda a cor do elemento pai */
    -webkit-tap-highlight-color: transparent; /* Remove o destaque azul ao toque */
    text-decoration: none; /* Remove sublinhado caso seja link */
}
