.containerPage {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.containerContent {
    display: flex;
    padding: 10px;
    border-radius: 20px;
    max-width: 756.5px;
    width: 85%;
    background-color: var(--white-900);
    box-shadow: 0px 100px 200px 0px rgba(#000000, 0.25);
}

.leftContent {
    display: flex;
    flex-direction: column;
    padding: 40px 20px 50px 20px;

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 35px;
        gap: 20px;
    }
}

.logo {
    width: 165px;
    height: auto;
}

.title {
    margin-top: 35px;
    color: var(--orange);
    font-size: 27px;
    margin-bottom: 0;
}

.subtitle {
    color: var(--blue);
    opacity: 0.5;
    font-size: 13.5px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.labelInput {
    font-size: 14px;
    color: var(--orange);
    font-weight: 600;
}

.input {
    background-color: var(--white-600);
    border-radius: 100px;
    border: 0;
    font-size: 14px;
    padding: 12.5px 20px;
    color: var(--orange);
    transition: box-shadow 0.2s ease-in-out;

    &::placeholder {
        color: #657593;
    }

    &:focus {
        box-shadow: 0 0 0 2px var(--orange);
    }
}

.inputPasswordContainer {
    position: relative;
}

.inputPassword {
    width: 100%;
    background-color: var(--white-600);
    border-radius: 100px;
    border: 0;
    font-size: 14px;
    padding: 12.5px 66px 12.5px 20px;
    color: var(--orange);
    transition: box-shadow 0.2s ease-in-out;

    &::placeholder {
        color: #657593;
    }

    &:focus {
        box-shadow: 0 0 0 2px var(--orange);
    }
}

.buttonVisibilityPassword {
    background-color: transparent;
    border: 0;
    color: var(--orange);
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    transition: color 0.2s ease-in-out;

    &:hover {
        color: #703822;
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    font-size: 14px;
    background-color: var(--orange);
    font-weight: 600;
    color: var(--white-900);
    height: 40px;
    border-radius: 100px;
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.02);
    }
}

.rightContent {
    position: relative;
    flex: 1;
}

@media (max-width: 900px) {
    .rightContent {
        display: none;
    }

    .leftContent {
        flex: 1;
    }
}

.imageDecoration {
    position: absolute;
    left: 0;
    bottom: 0;
}

.boxDecoration {
    height: 100%;
    background-color: var(--orange);
    border-radius: 20px;
    margin-left: 42px;
}

// @media (max-width: 720px) {
//     html {
//         font-size: 87.5%;
//     }
// }

// @media (max-width: 1080px) {
//     html {
//         font-size: 93.75%;
//     }
// }
