.layoutContainer {
    display: flex;
    background-color: var(--white-800);
    min-height: 100vh;
}

.loadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--orange);
}

.contentContainer {
    flex: 1;
    padding: 30px;
    background-color: var(--white-800);
}

@media (max-width: 900px) {
    .contentContainer {
        padding: 45px 30px 30px 30px;
    }
}
